@media (max-width: 768px) {
    .banner__background {
        width: 100%;
        background-image: url(../images/general-0-swaps-tablet.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .benefit-container,
    .benefit-container__right,
    .benefit-container__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        padding: 0;
    }

    .benefit-container__left {
        width: 100%;
        max-width: 100%;
        height: 235px;
    }

    .benefit-container__top {
        width: 100%;
        max-width: 100%;
        height: 235px;
    }

    .benefit-container__bottom-right,
    .benefit-container__bottom-left {
        width: 100%;
        max-width: 100%;
        height: 235px;
        padding: 52px;
    }

    .benefit-container img {
        margin-left: 30px;
        width: 85px;
        height: 85px;
    }

    .benefit-container__left img {
        width: 55px;
        height: 55px;
        margin-top: 0px;
    }

    .gallery__div {
        width: 130px;
        height: 130px;
    }

    .gallery-container__div:nth-child(n+5) {
        display: none;
    }

    .bfh {
        flex-direction: column;
        padding: 0;
    }

    .bfh__left {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .bfh__left h1 {
        width: 100%;
        text-align: center;
        font-size: 35.9px;
        margin-bottom: 0;
    }

    .bfh__left p {
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin-top: 0;
    }

    .bfh__right {
        width: 90%;
        margin-bottom: 30px;
    }

    .footers .footer1 {
        display: none;
    }
}
